@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinanceAdvisor</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FinanceAdvisor.Web.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleHomeSheet.css" asp-append-version="true" />
</head>

<body>
    <div class="page-wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FinanceAdvisor.Web</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>

                            @if (User.Claims.Any(c => c.Type == "http://schemas.microsoft.com/ws/2008/06/identity/claims/role" && (c.Value == "Advisor"))
                                && User.Claims.Any(c => c.Type == "advisor_specialization" && (c.Value != null)))
                            {
                                var advisorSpecialization = User.Claims.FirstOrDefault(c => c.Type == "advisor_specialization")?.Value;
                                switch (advisorSpecialization)
                                {
                                    case "Investment":
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Consultation" asp-action="Index" asp-route-filter="InvestmentAdvisory">
                                                Investment Consultations
                                            </a>
                                        </li>
                                        break;

                                    case "Credit":
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Consultation" asp-action="Index" asp-route-filter="CreditAdvisory">
                                                Credit Consultations
                                            </a>
                                        </li>
                                        break;

                                    case "Security":
                                        <li class="nav-item">
                                            <a class="nav-link" asp-controller="Consultation" asp-action="Index" asp-route-filter="SecurityAdvisory">
                                                Security Consultations
                                            </a>
                                        </li>
                                        break;
                                    default: break;
                                }
                            }
                            else
                            {
                                
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Consultation" asp-action="Index" asp-route-filter="InvestmentAdvisory">
                                        Investment Consultations
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Consultation" asp-action="Index" asp-route-filter="CreditAdvisory">
                                        Credit Consultations
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Consultation" asp-action="Index" asp-route-filter="SecurityAdvisory">
                                        Security Consultations
                                    </a>
                                </li>
                            }


                            <li class="nav-item">
                                <a class="nav-link" asp-controller="CreditConsultationCycle" asp-action="Index">Credit Cycles</a>
                            </li>

                        </ul>

                        <ul class="navbar-nav" id="auth-buttons">
                            <li class="nav-item">
                                <span class="text-muted">Loading...</span>
                            </li>
                        </ul>


                    </div>
                </div>
            </nav>
        </header>
        <main role="main" class="flex-grow-1 pb-3">
            <div class="container">
                @RenderBody()
            </div>
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2025 - FinanceAdvisor.Web -
                <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                <a asp-area="" asp-controller="Home" asp-action="Contacts" style="margin-left: 20px;">Contacts</a>
                <span class="float-end">
                    <a asp-area="" asp-controller="Home" asp-action="Index">Back to top</a>
                </span>
            </div>
        </footer>
    </div>
    <script src="~/js/CheckIfAuthenticated.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<!-- <a class="btn btn-outline-secondary ms-2"
    href="https://localhost:7150/Identity/Account/Register?returnUrl=https://localhost:7053/">Register</a> -->
