@{
    ViewData["Title"] = "Server Error";
    Layout = "_Layout";
}

<h1 class="text-danger">500 - Internal Server Error</h1>
<p>Oops! Something went wrong on our end. Please try again later.</p>
<a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Return Home</a>
@{
}
