@{
    ViewData["Title"] = "Unauthorized Access";
    Layout = "_Layout";
}

<h1 class="text-warning">Unauthorized</h1>
<p>You do not have permission to view this page.</p>
<a class="btn btn-secondary" asp-area="" asp-controller="Home" asp-action="Index">Go to Home</a>
@{
}
