@{
    ViewData["Title"] = "Contacts";
}
<h1>@ViewData["Title"]</h1>
@* <h2>Контакти:</h2> *@
<p class="contact-info">
    📞 <a href="tel:+359888778899">+359 888 778 899</a> |
    📧 <a href="mailto:contact@FinanceAdvisor.com">contact@FinanceAdvisor.com</a> |
    🌐 <a href="https://FinanceAdvisor.com" target="_blank">FinanceAdvisor.com</a>
</p>

<p class="contact-info">
    📍 <strong>Адрес:</strong> ул. "Финансова" 123, София, България
